fastapi
uvicorn
sqlalchemy
psycopg2-binary
alembic
pydantic
python-dotenv

langchain
langgraph
langchain-community
langchain-text-splitters

langchain-qdrant
langchain-chroma

qdrant-client
chromadb

sentence-transformers
transformers
torch

groq

python-jose
passlib[bcrypt]
bcrypt

httpx
requests

GitPython

jira

slack_sdk

google-api-python-client
google-auth
google-auth-oauthlib

pytest
pytest-asyncio

black
ruff